<div class="d-flex flex-column flex-center bgi-no-repeat rounded-top px-1050 py-100" style="padding: 20px;">
  <h3 class="fw-bold mb-100">Modifier Vehicule </h3>
</div>
<div class="row g-100 justify-content-center">
  <div class="col-12 col-md-6 form-container" style="max-height: 500px; overflow-y: auto; padding: 20px; border: 10px solid #007bff; border-radius: 10px;">
    <form >
    
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="immatricule" class="form-label">Immatricule</label>
          <input type="text" class="form-control" id="immatricule" required  name="immatricule">
        </div>
        <div class="col-md-6">
          <label for="dateMiseCirculation" class="form-label">Date de Mise en Circulation</label>
          <input type="date" class="form-control" id="dateMiseCirculation"  name="dateMiseCirculation">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="type" class="form-label">Type</label>
          <input type="text" class="form-control" id="type" required  name="type">
        </div>
        <div class="col-md-6">
          <label for="pf" class="form-label">PF</label>
          <input type="number" class="form-control" id="pf" required  name="pf">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="mc" class="form-label">MC</label>
          <input type="text" class="form-control" id="mc" required  name="mc">
        </div>
        <div class="col-md-6">
          <label for="genre" class="form-label">Genre</label>
          <input type="text" class="form-control" id="genre" required  name="genre">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nbrPlace" class="form-label">Nombre de Places</label>
          <input type="number" class="form-control" id="nbrPlace" name="nbrPlace">
        </div>
        <div class="col-md-6">
          <label for="marque" class="form-label">Marque</label>
          <input type="text" class="form-control" id="marque"  name="marque">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="kilometrage" class="form-label">Kilométrage</label>
          <input type="number" step="0.1" class="form-control" id="kilometrage"  name="kilometrage">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
</div>
