<div class="d-flex flex-column flex-center bgi-no-repeat rounded-top px-10 py-10" style="padding: 20px;">
  <h3 class="fw-bold mb-10">Carburant Annuel</h3>
</div>
<div class="row g-10 justify-content-center">
  <div class="col-12 col-md-6 form-container" style="max-height: 500px; overflow-y: auto; padding: 20px; border: 1px solid #007bff; border-radius: 10px;">
    <form #editForm="ngForm" (ngSubmit)="submitForm(editForm)">
      <div *ngIf="message" [ngClass]="{'alert': true, 'alert-success': messageType === 'success', 'alert-danger': messageType === 'error'}">
        {{ message }}
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nom" class="form-label">Carburant Annuel</label>
          <input type="text" class="form-control" id="nom" required [(ngModel)]="carburant.carburantAnnuel" name="carburantAnnuel">
        </div>
        <div class="col-md-6">
          <label for="nom" class="form-label">Annee</label>
          <input type="text" class="form-control" id="designation" required [(ngModel)]="carburant.annee" name="annee">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
      <button type="close" class="btn btn-danger" >Fermer</button>
    </form>
  </div>
  </div>