
<div class="menu-item px-5">
  <form (ngSubmit)="searchByImmatriculation()">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Immatricule"
        aria-describedby="button-addon2"
        [(ngModel)]="selectedImmatricule"
        name="immatricule">
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      id="button-addon2">Rechercher</button>
  </form>
</div>



<div class="modal fade" id="vehicleInfoModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vehicleModalLabel">Vehicle Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Immatricule:</strong> {{ vehicule?.immatricule }}</p>
        <p><strong>Date of Circulation:</strong> {{ vehicule?.dateMiseCirculation | date }}</p>
        <p><strong>Type:</strong> {{ vehicule?.type }}</p>
        <p><strong>Power Factor:</strong> {{ vehicule?.pf }}</p>
        <p><strong>MC:</strong> {{ vehicule?.mc }}</p>
        <p><strong>Genre:</strong> {{ vehicule?.genre }}</p>
        <p><strong>Number of Seats:</strong> {{ vehicule?.nbrPlace }}</p>
        <p><strong>marque:</strong> {{ vehicule?.marque }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>