
<!-- begin::Col -->
    <div class="container">
        <div class="row">
          <div class="col-xl-6 mx-auto">
            <app-mixed-widget7
              class="card card-xl-stretch mb-xl-8"
              image="/media/svg/brand-logos/telegram.svg"
              time="10 days ago"
              title="ReactJS Admin Theme"
              description="Keenthemes uses the latest and greatest frameworks<br/>with ReactJS for complete modernization and<br/>future."
            ></app-mixed-widget7>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 mx-auto">
      <div class="pt-5">
        <a href="#" class="btn custom-btnn w-100 py-3" [ngClass]="'btn-'">
          Ajouter Craburant Voiture 
        </a>
      </div>
    </div>
    
    <div class="col-xl-6 mx-auto">
        <div class="pt-5">
          <a href="#" class="btn custom-btn w-100 py-3" [ngClass]="['btn-']">
            Supprimer Carburant Voiture
          </a>
        </div>
      </div>
      
    <!-- end::Col -->