<style>
  .col-xl-6 {
    max-width: 20%;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .pt-5 {
    padding-top: 3rem; /* Adjust as needed */
  }

  .custom-btn {
    background-color: #6e767b; /* Custom background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
    display: block; /* Make it a block element */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-size: 1rem; /* Adjust font size */
     
  }

  .custom-btn:hover {
    background-color: #1f1d1e; /* Darker shade on hover */
    text-decoration: none; /* Remove underline on hover */
  }
</style>



<!-- begin::Beader -->
<div class="card-header border-0 py-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Stock Carburant</span>
    <span class="text-muted fw-bold fs-7">2024</span>
  </h3>

  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->

<!-- begin::Body -->
<div class="card-body d-flex flex-column">
  <div class="flex-grow-1">
    <div #chartRef class="mixed-widget-4-chart" [style.height]="chartHeight">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [states]="chartOptions.states"
        [tooltip]="chartOptions.tooltip"
        [colors]="chartOptions.colors"
        [markers]="chartOptions.markers"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
  </div>
  <div class="row g-0">
    <!-- begin::Col -->
    <div  *ngFor="let car of carburant  " class="col">
      <div class="d-flex align-items-center me-2">
        <!-- begin::Symbol -->
        <div class="symbol symbol-50px me-3">
          <div class="symbol-label bg-light-primary">
            <span
              [inlineSVG]="
                './assets/media/icons/duotune/abstract/abs009.svg'
              "
              class="svg-icon svg-icon-1 svg-icon-primary"
            ></span>
          </div>
        </div>
        <!-- end::Symbol -->

        <!-- begin::Title -->
        <div>
          <div class="fs-4 text-dark fw-bolder">{{ car.carburantAnnuel }} DH </div>
          <div class="fs-7 text-muted fw-bold">Total</div>
        </div>
        <!-- end::Title -->
      </div>
    </div>
    <!-- end::Col -->

    <!-- begin::Col -->
    <div class="col">
      <div class="d-flex align-items-center me-2">
        <!-- begin::Symbol -->
        <div class="symbol symbol-50px me-3">
          <div class="symbol-label bg-light-danger">
            <span
              [inlineSVG]="
                './assets/media/icons/duotune/abstract/abs035.svg'
              "
              class="svg-icon svg-icon-1 svg-icon-danger"
            ></span>
          </div>
        </div>
        <!-- end::Symbol -->

        <!-- begin::Title -->
        <div>  
          <div class="fs-4 text-dark fw-bolder">{{ restant }}  MAD </div>
          <div class="fs-7 text-muted fw-bold">Restant </div>
        </div>
        <!-- end::Title -->
      </div>
    </div>
    <!-- end::Col -->
  </div>
  <!-- end::Row -->

  <div class="pt-5">
    <button
    class="btn btn-sm btn-light-primary"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="top-end">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
        class="svg-icon svg-icon-3"
      ></span>
      Ajouter Carburant 
    </button>

    <app-quick-links-inner-12></app-quick-links-inner-12>
  </div>
</div>
<!-- end::Body -->
