<!--begin::Exolore drawer toggle-->
<button
  id="kt_explore_toggle"
  class="explore-toggle btn btn-sm bg-body btn-color-gray-700 btn-active-primary shadow-sm position-fixed px-5 fw-bolder zindex-2 top-50 mt-10 end-0 transform-90 fs-6 rounded-top-0"
  title="Explore {{ appThemeName}}"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  data-bs-trigger="hover">
  <span id="kt_explore_toggle_label">Consommation</span>
</button>
<!--end::Exolore drawer toggle-->

<!--begin::Exolore drawer-->
<div
  id="kt_explore"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="explore"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'350px', 'lg': '475px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_explore_toggle"
  data-kt-drawer-close="#kt_explore_close">

  <!--begin::Card-->
  <div class="card shadow-none rounded-0 w-100">
    <!--begin::Header-->
    <div class="card-header" id="kt_explore_header">
      <h3 class="card-title fw-bolder text-gray-700">Stock Carburant</h3>

      <div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_explore_close">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-2"
          ></span>
        </button>
      </div>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body" id="kt_explore_body">
      <!--begin::Content-->
      <div
        id="kt_explore_scroll"
        class="scroll-y me-n5 pe-5"
        data-kt-scroll="true"
        data-kt-scroll-height="auto"
        data-kt-scroll-wrappers="#kt_explore_body"
        data-kt-scroll-dependencies="#kt_explore_header"
        data-kt-scroll-offset="5px">

        <!--begin::Wrapper-->
        <div class="row g-0">
          <!-- begin::Col -->
          <div class="col">
            <div class="d-flex align-items-center me-2">
              <!-- begin::Symbol -->
              <div class="symbol symbol-50px me-3">
                <div class="symbol-label bg-light-primary">
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/abstract/abs009.svg'
                    "
                    class="svg-icon svg-icon-1 svg-icon-primary"
                  ></span>
                </div>
              </div>
              <!-- end::Symbol -->
      
              <!-- begin::Title -->
              <div>
                <div class="fs-4 text-dark fw-bolder">$49  MAD</div>
                <div class="fs-7 text-muted fw-bold">Total</div>
              </div>
              <!-- end::Title -->
            </div>
          </div>
          <!-- end::Col -->
      
          <!-- begin::Col -->
          <div class="col">
            <div class="d-flex align-items-center me-2">
              <!-- begin::Symbol -->
              <div class="symbol symbol-50px me-3">
                <div class="symbol-label bg-light-danger">
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/abstract/abs035.svg'
                    "
                    class="svg-icon svg-icon-1 svg-icon-danger"
                  ></span>
                </div>
              </div>
              <!-- end::Symbol -->
      
              <!-- begin::Title -->
              <div>
                <div class="fs-4 text-dark fw-bolder">5.8 MAD </div>
                <div class="fs-7 text-muted fw-bold">Restant </div>
              </div>
              <!-- end::Title -->
            </div>
          </div>
          <!-- end::Col -->
        </div>
        <!-- end::Row -->

       
        <!--end::Wrapper-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Exolore drawer-->

