<!-- Dashboard -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Layout builder -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/builder"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
        class="svg-icon svg-icon-2"
      ></span> </span
    ><span class="menu-title">Layout Builder</span></a
  >
</div>
<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1"
      >Crafted</span
    >
  </div>
</div>

<!-- Pages -->
<div
class="menu-item"
>
<div class="menu-item">
<span class="menu-link"
routerLink="/crafted/pages/wizards/steps/step1"
    ><span class="menu-icon"
    
      ><span
        class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/ecommerce/ecm006.svg'"
        
      ></span></span
    ><span class="menu-title">Espace Vehicule </span><span class="menu-arrow"></span
  ></span>
</div>
  <span class="menu-link"
  ><span class="menu-icon"
    ><span
      class="svg-icon svg-icon-2"
      [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"
    ></span></span
  ><span class="menu-title">Espace Chauffeur </span><span class="menu-arrow"></span
></span>
<div class="menu-item menu-accordion"data-kt-menu-trigger="click"
  routerLinkActive="here show" >
<span class="menu-link"
  ><span class="menu-icon"
    ><span
      class="svg-icon svg-icon-2"
      [inlineSVG]="'./assets/media/icons/duotune/files/fil011.svg'"
    ></span></span
  ><span class="menu-title">Espace Réparations  </span><span class="menu-arrow"></span
></span>
<div
class="menu-item menu-accordion"
class="menu-sub menu-sub-accordion"
routerLinkActive="menu-active-bg"
>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/crafted/pages/wizards/horizontal"
    ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
    ><span class="menu-title">Demande de Réparation </span></a
  >
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/crafted/pages/wizards/horizontal"
    ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
    ><span class="menu-title">Ordre de Paiement </span></a
  >
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/crafted/pages/wizards/horizontal"
    ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
    ><span class="menu-title">Pièces  </span></a
  >
</div>

</div>
</div>
<span class="menu-link"
  ><span class="menu-icon"
    ><span
      class="svg-icon svg-icon-2"
      [inlineSVG]="'./assets/media/icons/duotune/maps/map003.svg'"
    ></span></span
  ><span class="menu-title">Espace Missions </span><span class="menu-arrow"></span
></span>
<span class="menu-link"
  ><span class="menu-icon"
    ><span
      class="svg-icon svg-icon-2"
      [inlineSVG]="'./assets/media/icons/duotune/graphs/gra007.svg'"
    ></span></span
  ><span class="menu-title">Espace Consommation </span><span class="menu-arrow"></span
></span>
  
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>

