<!-- begin::Header-->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder text-dark">Pieces</span>
    <span class="text-muted mt-1 fw-bold fs-7">Nombre de Pieces</span>
  </h3>
  <div class="card-toolbar">
    <!-- begin::Menu-->
    <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-light-primary">
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
          class="svg-icon svg-icon-3"
        ></span>
        Nouvelle Piece
      </a>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu-->
  </div>
</div>
<!-- end::Header-->
<!-- begin::Body-->
<div class="card-body pt-5">
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div class="symbol symbol-50px me-5">
      Id piece
    </div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Description
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >durreVie</span
        >
      </div>
      <span class="badge badge-light fw-bolder my-2">Date Echeance</span>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div class="symbol symbol-50px me-5">
      Id piece
    </div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Description
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >durreVie</span
        >
      </div>
      <span class="badge badge-light fw-bolder my-2">Date Echeance</span>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div class="symbol symbol-50px me-5">
      Id piece
    </div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Description
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >durreVie</span
        >
      </div>
      <span class="badge badge-light fw-bolder my-2">Date Echeance</span>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->
  <!-- begin::Item-->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div class="symbol symbol-50px me-5">
      Id piece
    </div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Description
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >durreVie</span
        >
      </div>
      <span class="badge badge-light fw-bolder my-2">Date Echeance</span>
    </div>
    <!-- end::Section-->
  </div>
  <!-- end::Item-->

  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div class="symbol symbol-50px me-5">
      Id piece
    </div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Description
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >durreVie</span
        >
      </div>
      <span class="badge badge-light fw-bolder my-2">Date Echeance</span>
    </div>
    <!-- end::Section-->
  </div>

  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol-->
    <div class="symbol symbol-50px me-5">
      Id piece
    </div>
    <!-- end::Symbol-->
    <!-- begin::Section-->
    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
      <div class="flex-grow-1 me-2">
        <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
          Description
        </a>
        <span class="text-muted fw-bold d-block fs-7"
          >durreVie</span
        >
      </div>
      <span class="badge badge-light fw-bolder my-2">Date Echeance</span>
    </div>
    <!-- end::Section-->
  </div>
</div>
<!-- end::Body-->
